* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
}

body {
  width: 375px;
  min-height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(hsla(273, 75%, 66%, 1), hsla(240, 74%, 65%, 1));
}

@media screen and (min-width: 1440px) {
  body {
    width: 1440px;
  }

}
